# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

# Virtual environment
venv/
env/
.venv/

# Django stuff
db.sqlite3
*.log
media/
staticfiles/

# Environment variables
.env

# Docker
*.pid
*.sock
*.pid.lock

# IDEs and editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
